body {
}

main {
    width: 1350px;
    margin-left: calc((100% - 1350px) / 2);
}

header{
    display: inline-block;
    width: 100%;
    font-family: cursive;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
}

header > img {
    float: left;
    height: 50px;
}

nav {
    float: right;
    margin-top: 25px;
}

header a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    color: #2C263C;
    padding-left: 50px;
}

a:first-child {
    text-decoration: underline #DE5239;    
}

header a:hover{
    text-decoration: underline #DE5239;
}

section {
    display: inline-block;
    width: 100%;
}

div {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 60px;
}

h1 {
    font-family: cursive;
    float: left;
    margin: 0;
    font-size: 45px;
    color: #2C224C;
}

h2 {
    font-family: cursive;
    float: left;
    margin: 0;
    font-size: 45px;
    color: #FF4726;
}

h3 {
    font-family: cursive;
    float: left;
    margin: 0;
    margin-left: 18px;
    font-size: 45px;
    color: #2C224C;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin: 0;
    margin-top: 30px;
    color: #2C224C;
    font-size: 13px;
}

section a {
    font-family: cursive;
    float: left;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
    background-color: #FF4726;
    margin-top: 80px;
    border-radius: 7px;
}

section img {
    width: 55%;
    float: right;
}