:root {
    --oranzine: #DE5239;
    --plotis: 1350px;
    --soninis-atstumas: calc((100% - var(--plotis)) / 2);
    --main-width: calc(var(--plotis) + var(--soninis-atstumas));
    --text-width: calc(var(--plotis) * 0.4);
    --text-margin: calc(var(--plotis) * 0.1);
    --image-width: calc(100% - var(--plotis) / 2);
}

body {
}

main {
    width: var(--plotis);
    margin-left: var(--soninis-atstumas);
}

header{
    display: inline-block;
    width: var(--plotis);
    font-family: cursive;
    width: 1200px;
    margin-left: var(--soninis-atstumas);
}

header > img {
    float: left;
    height: 50px;
}

nav {
    float: right;
    margin-top: 25px;
}

header a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    color: #2C263C;
    margin-left: 50px;
}

header a:first-child {
    border-bottom: 3px solid var(--oranzine);
    padding: 0; 
    font-weight: bolder;
}

header a:hover{
    border-bottom: 3px solid #DE5239;
    padding: 0; 
}

section {
    display: inline-block;
    width: var(--main-width);
    margin-left: var(--soninis-atstumas);
}

div {
    width: var(--text-width);
    float: left;
    margin-left: 5%;
    margin-top: 60px;
}

h1 {
    font-family: cursive;
    display: inline-block;
    margin: 0;
    font-size: 45px;
    color: #2C224C;
    width: 90%;
}

h1 span {
    font-family: cursive;
    float: left;
    margin: 0;
    font-size: 45px;
    color: #FF4726;
    margin-right: 17px;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin: 0;
    margin-top: 30px;
    color: #2C224C;
    font-size: 13px;
    width: 80%;
}

section a {
    font-family: cursive;
    float: left;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
    background-color: #FF4726;
    margin-top: 80px;
    border-radius: 7px;
}

section a:hover {
    font-family: cursive;
    float: left;
    text-decoration: none;
    font-size: 15px;
    color: #FF4726;
    padding: 7px 22px;
    background-color: white;
    margin-top: 80px;
    border: 3px solid #FF4726;
    border-radius: 7px;
}

section img {
    width: var(--image-width);
    float: right;
}